* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffbc92;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000%;
}

.logo {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin: 0 15px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  display: inline-block;
}

ul li a:hover {
  text-decoration: underline;
}

body {
  text-align: center;
  background-color: #fcefe9;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 75px;
  padding: 20px;
  margin-bottom: 120px;
  color: #795346;
}

p {
  color: #795346;
  padding: 5px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

header {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/157/472/original/3425522.jpg?1739452423);
  padding: 155px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}

header button {
  color: #795346;
  font-size: 20px;
  font-family: "Instrument Serif", serif;
  font-weight: light;
  font-style: normal;
  padding: 20px 55px;
  margin-bottom: 85px;
  border-radius: 15px;
  border: 1px solid #de6e63;
  text-transform: capitalize;
  transition: all 100ms ease-in-out;
}

header button:hover {
  color: #ffffff;
  background: #de6e63;
}

main {
  padding: 85px;
}

footer {
  background: #ff6e99;
  padding: 85px;
}

footer button {
  color: #795346;
  font-size: 20px;
  font-family: "Instrument Serif", serif;
  font-weight: light;
  font-style: normal;
  padding: 20px 55px;
  margin: 20px 55px;
  border-radius: 15px;
  border: 1px solid #de6e63;
  text-transform: capitalize;
  transition: all 100ms ease-in-out;
}

footer button:hover {
  color: #ffffff;
  background: #de6e63;
}

footer a {
  text-decoration: none;
}

img {
  width: 120px;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-paragraph {
  margin-bottom: 30px;
  color: #795346;
  font-size: 45px;
}

.weekday {
  color: #795346;
  margin: 10px;
}

.share-on {
  color: #795346;
  font-size: 25px;
  font-weight: bold;
  margin: 15px;
}

.social-logos {
  color: #795346;
  font-size: 25px;
  padding: 10px 14px;
  transition: all 100ms ease-in-out;
}

.social-logos:hover {
  background-color: #ffbc92;
  color: #ff6e99;
  border-radius: 25px;
  border: 2px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 25px;
    line-height: 20px;
  }

  .main-paragraph {
    font-size: 25px;
  }

  p {
    padding: 3px;
    font-size: 10px;
    line-height: 1;
  }

  img {
    width: 75px;
  }

  header {
    padding: 10px;
  }

  header button {
    font-size: 15px;
    padding: 10px 25px;
    margin-bottom: 35px;
  }
}
